{% extends "base.html" %}

{% block content %}
  <div class="row">
      <div class="col-6">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
          <h2>Список заведений</h2>
          {% for names in name_list %}
          <h3><a>{{ names.description}}</a></h3>
            <p>{{ names.address }}</p>
          <hr />
          {% endfor %}
      </div>
      <div class="col-4">
          <h2>Карта города</h2>
          <object width="120%" height="500px" data= "{{ url_for('static',filename='restaurants-spb.html') }}"></object>
      </div>
    </div>  
{% endblock %}