body {
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/back.jpg"), #040404;
  position: static;
}

.navbar-brand {
  background: url("../../assets/img/restaurant.png") left / contain no-repeat;
  width: 100px;
  height: 100px;
}

.navbar-nav {
  color: var(--bs-blue);
  font-weight: bold;
}

#navcol-2 {
  font-size: 18px;
  color: rgb(101,220,60);
  background: #3376a6;
}

